@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before,*::after{
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden !important;
    background-color: #f2f2f2
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sarabun", sans-serif;
}
/* NavBar */
.logo img {
    width: auto;
    height: 50px;
}
@media (max-width: 770px) {
    .logo img {
        width: auto;
        height: 35px;
    }
}
.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-item {
    margin-right: 20px;
}
.navbar .nav-item .nav-link {
    color: #212529;
}
.navbar .nav-item .nav-link.active {
    border-bottom: 2px solid #379777;
    color: #379777;
    padding-bottom: 0px;
}
.navbar .nav-item .nav-link:hover {
    border-bottom: 2px solid #379777;
    padding-bottom: 0px;
    color: #212529;
}
.nav-button {
    background-color: #379777;
    padding: 8px 13px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}
@media (max-width: 770px) {
    .nav-button {
        display: none;
    }
    .nav-desktop {
        display: none;
    }
    .navbar-nav {
        padding: 10px 20px;
    }
    .navbar-light .navbar-toggler {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(55, 151, 119, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    .navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
        width: fit-content;
        color: #379777;
    }
}
@media (min-width: 771px) {
    .nav-mobile {
        display: none;
    }
}
/* sticky navbar */
.navbar {
    transition: top 0.3s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/* Banner */
.banner {
    background-image: linear-gradient(90deg, #379777 21%, #5ea38c 74%);
    /* background-image: linear-gradient(90deg, #cfe6df 21%, #cceee3 74%), url(../img/hero/h1_hero.jpg); */
    /* background-color: #cceee3; */
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height: 650px;
}
.banner_captions {
    overflow: hidden;
    font-size: 30px;
    font-family: "Sen", sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
    color: #fff;
    display: inline-block;
    position: relative;
    padding-left: 0px;
    letter-spacing: 0.05em;
}
.banner-top {
    display: flex;
    margin-top: 80px;
}
.hicas-logo {
    height: 90px;
}
.hicas-title-1 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.hicas-title-2 {
    font-size: 22px;
    text-align: center;
}
.banner-text {
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 600;
    color: #F4CE14;
    line-height: 1.2;
    margin-bottom: 57px;
    margin-top: 40px;
    font-size: 53px;
}
.banner-button {
    padding: 20px 20px;
    background: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}
.banner-book {
    overflow-x: hidden;
}
.banner-book img {
    margin-top: 100px;
    margin-left: -100px;
    width: 600px;
    height: auto;
    overflow-x: hidden;
}
@media only screen and  (max-width: 770px) {
    .banner-desktop {
        display: none;
    }
    .banner {
        overflow-x: hidden !important;
        height: 350px;
    }
    .banner-top {
        margin-top: 40px ;
    }
    .hicas-logo {
        height: 50px;
        width: auto;
    }
    .hicas-title-1, .hicas-title-2 {
        font-size: 12px;
        text-transform: uppercase;
    }
    .banner_captions {
        margin-bottom: 0px;
    }
    .banner-text {
        margin-bottom: 20px;
    }
    .banner-title {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .desktop-banner-btn {
        display: none;
    }
    .desktop-book {
        display: none;
    }
    .mobile-banner-bottom .banner-button {
        margin-top: 70px;
    }
    .banner-book img {
        margin-top: 0px;
        margin-left: 0px;
        width: 268px;
        height: auto;
        overflow-x: hidden;
        object-fit: cover;
    }
}
@media only screen and  (min-width: 771px) {
    .mobile-banner-section {
        display: none;
    }
    .banner-mobile {
        display: none;
    }
}
.mobile-banner-bottom {
    display: flex;
    flex-direction: row;
}
.banner-book-mobile {
    overflow-x: hidden;
}
/* Description */
.desc {
    margin-top: 50px;
    margin-bottom: 50px;
}
.desc-title {
    margin-bottom: 30px;
}
.desc-title h2 {
    font-size: 30px;
    display: block;
    color: #16161a;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}
.desc-content p {
    font-size: 15px;
    color: #64676c;
    line-height: 30px;
    margin-bottom: 36px;
    padding-right: 30px;
    text-align: justify;
}
/* about section right side card */
.about-right-card-1, .about-right-card-2, .about-right-card-3, .about-right-card-4 {
    width: 17rem;
    height: 200px;
    padding: 20px 20px;
}
.card {
    border: 1px solid #379777;
}
.card-title {
    display: inline;
    font-weight: bold;
    color: #379777;
}
.card-body .card-text {
    padding-top: 20px;
}
.about-right-card-1, .about-right-card-3 {
    margin-bottom: 20px;
}

.about-right-card-1:hover,
.about-right-card-2:hover,
.about-right-card-3:hover,
.about-right-card-4:hover {
        box-shadow: 0 10px 15px rgb(92, 109, 104);
        cursor: pointer;
}
/* Disciplines covered include */
.disciplines-card {
    margin: 10px 23px 28px 23px;
    width: 330px;
    height: 90px;
    cursor: pointer;
    overflow: hidden;
    border-top-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #EB6E25;
    min-height: 123px;
}
.disciplines-card:hover {
    height: 240px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 10px 15px rgb(92, 109, 104);
    margin-bottom: 10px;
}
.disciplines-card .card-body {
    display: flex;
    flex-direction: column;
}
.disciplines-icon {
    padding: 20px 0px;
}
.disciplines-covered-include h2 {
    font-size: 30px;
    color: #16161A;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 40px;
    text-align: center;
}
.disciplines-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.disciplines-card img {
    height: 65px;
    width: 65px;
    margin-right: 15px;
    object-fit: fill;
    padding-bottom: 10px;
}
.disciplines-card h4 {
    display: inline;
    font-weight: bold;
    color: #379777;
}
.learn-more {
    text-decoration: none;
    color: #379777;
    font-size: medium;
}
.learn-more:hover {
    color: #16161A;
    text-decoration: underline;
}
/* Readership section */
.readership {
    margin-bottom: 80px;
}
.readership-container {
    border-radius: 20px;
    /* background-image: linear-gradient(90deg, #379777 21%, #5ea38c 74%), url(../img/hero/h1_hero.jpg); */
    background-image: linear-gradient(90deg, #cfe6df 21%, #cceee3 74%), url(../img/hero/h1_hero.jpg);
    padding: 40px 50px;
}
.readership-card {
    border-radius: 10px;
    margin: 10px 10px 28px 10px;
    width: 330px;
    height: 16rem;
    cursor: pointer;
    overflow: hidden;
    min-height: 123px;
}
.readership h2 {
    font-size: 30px;
    color: #16161A;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-align: center;
}
.readership-card h4 {
    display: inline;
    font-weight: bold;
    color: #379777;
}
.readership-card p {
    margin-top: 10px;
}
.readership-icon {
    border-radius: 50%;
    background-color: #379777;
    height: 80px;
    width: 80px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 20px;
}
.readership-icon-logo {
    padding: 50% 0% 0% 27%;;
}
.readership-row-2 {
    /* margin-left: auto;
    margin-right: auto; */
}
.readership-bottom-card-1 {
    margin-left: auto;
}
.readership-bottom-card-2 {
    margin-right: auto;
}
.readership-list {
    list-style-type: none;
}
/* Review Process */

/* .review-process {
    margin-top: 50px;
    margin-bottom: 50px;
}
.review-process h2 {
    font-size: 30px;
    color: #16161A;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-align: center;    
}
.review-process-accordion {
    width: 80%;
    margin: auto;
}
.review-process .accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-image: linear-gradient(90deg, #cfe6df 21%, #cceee3 74%), url(../img/hero/h1_hero.jpg);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}
.accordion-button:not(.collapsed)::after {
    color: #379777 !important;
}
.accordion-item {
    min-height: 70px;
    margin-bottom: 20px;
} */
.review-process {
    margin-top: 50px;
    margin-bottom: 100px;
}
.review-process h2 {
    font-size: 30px;
    color: #16161A;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-align: center;    
}
.review-process-accordion {
    width: 80%;
    margin: auto;
}
.review-process .accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
.review-process-accordion .accordion-item {
    border-bottom: 1px solid #379777 !important;
    margin-bottom: 0px;
    background-color: transparent;
}


.review-process-accordion .accordion-button {
    border: none;
    box-shadow: none;
    padding: 15px;
    background-color: transparent;
    color: #000000;
}
.accordion-body {
    padding-bottom: 30px;
}

.review-process-accordion .accordion-button.collapsed {
    color: #379777;
    font-weight: 700 !important;
    background-color: transparent;
    padding-top: 20px;
}
.review-process-accordion .accordion-button:not(.collapsed) {
    color: #379777;
    font-weight: 700 !important;
    background-color: transparent;
    padding-top: 20px;
}

/* footer start */
.footer {
    background-color: #444444;
    color: #ebebeb ;
}
.footer h4 {
    margin-bottom: 20px;
}
.footer-about {
    display: flex;
    flex-direction: column;
    align-items: center ;
}  
.footer-brand {
  margin-bottom: 20px;
}
.footer-brand img {
    height: 100px;
    width: auto;
}
.footer-brand-content h3 {
    text-align: center;
}
.footer-brand-content p {
    text-align: center;
}
.footer-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-reg h4, .footer-reg p {
    text-align: center;
}
.footer-terms {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-terms ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-terms .ul .li .a {
    width: 100%;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-contact h4 {
    text-align: center;
}
.footer-contact ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media (max-width: 575px) {
  .footer-about {
    margin-bottom: 40px;
  }
}
.footer ul li {
  list-style: none;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.footer-insta-logo img {
  height: 20px;
}
.footer-insta-logo .footer-mail .footer-mobile .footer-certificate1 .footer-certificate2 a {
  text-decoration: none;
  color: #ebebeb;
}
 a {
  text-decoration: none;
  color: #ebebeb;
}
 a {
  text-decoration: none;
  color: #ebebeb;
}
.footer ul li a:hover {
  color: #ebebeb;
}
.copyrights {
    display: flex;
    justify-content: flex-end;
}
/* ---------------------------------- */
/* Editorial-Board page start */
.editorial-board-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(55, 151, 119, 0.8) 21%, rgba(55, 151, 119, 0.8) 21%), url(../img/editorial_board_banner.jpg);
}
.editorial-board-banner-title {
    
}
.editorial-board-banner-title h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.chief-editors {
    margin-top: 30px;
}
.chief-editors h2 {
    font-size: 30px;
    color: #16161A;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-align: center;
}
.chief-editors-column {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.chief-editors-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #379777 !important; 
    width: 25rem;
    height: 200px;
    margin-bottom: 25px;
}
.chief-editors-card:hover {
    box-shadow: 0 10px 15px rgb(92, 109, 104);
    cursor: pointer;
}
.chief-card-left {
    margin-left: 100px !important;
}
.chief-card-right {
    margin-right: 100px;
}
.chief-editors-card img {
    height: 200px;
    width: auto;
    padding: 10px 10px;
    margin: auto;
    border-radius: 20px;
}
.chief-editors-card .card-body {
    margin: auto;
}
/* Editorial Board Members section */
.editorial-members {
    margin-top: 50px;
}
.editorial-members h2{
    font-size: 30px;
    color: #16161A;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-align: center;
}