@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    font-family: 'poppins', sans-serif;
} */
body {
    height: 100%;
    margin: 0;
  }
  div.waves {
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 99;
  }
  
  svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .spacer {
    height: 100px;
    width: 100%;
  }
  
  @keyframes example {
    0% {
      left: 0px;
      top: 0px;
    }
    50% {
      left: -2000px;
      top: 200px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }